<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.msda.qna">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.QnA">
        <activity android:name="UI.Admin.UserEditActivity"></activity>
        <activity android:name="UI.Admin.UserManagementActivity" />
        <activity android:name="UI.Admin.AdminActivity" />
        <activity android:name="UI.Forum.Forum" />
        <activity android:name="UI.Forum.Post" />
        <activity android:name="UI.Forum.UploadPost" />
        <activity android:name="UI.Forum.MyPosts" />
        <activity android:name="UI.SignUpActivity" />
        <activity android:name="UI.LoginActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>